---
layout: default
---

<div class="home row" style="box-sizing: border-box;">
  <!--<div style="float:left; width: 100px; box-sizing: border-box;">
    <a class="twitter-timeline" href="https://twitter.com/jeffreycwitt" data-widget-id="418879133108539392">Tweets by @jeffreycwitt</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
  <div style="float:left; box-sizing: border-box; width:80%; padding-left: 15%;"> -->
  <div>
    {{content}}
  </div>

</div>
